# Data Handling and Processing
pandas
numpy

# Machine Learning and Neural Networks
torch

# Visualization
matplotlib
seaborn

# Gene Set Enrichment Analysis
gseapy

# MySQL Database Connectivity
mysql-connector-python
